In [2]:
import pandas as pd
import numpy as np
from simpledbf import Dbf5

In [127]:
data_nasa = pd.read_csv('./meteorite_landings.csv')
data_nasa.head()
nasa = data_nasa.copy()
nasa['year'] = np.int32(nasa['year'])
mask = ((nasa['year'] == 2013) == True)
year = nasa[mask]
year.value_counts()

name                   id     nametype  recclass               mass      fall   year  reclat    reclong   GeoLocation
Chelyabinsk            57165  Valid     LL5                    100000.0  Fell   2013  54.81667  61.11667  (54.816670, 61.116670)    1
Northwest Africa 7755  57166  Valid     Martian (shergottite)  30.0      Found  2013  0.00000   0.00000   (0.000000, 0.000000)      1
Northwest Africa 7812  57258  Valid     Angrite                46.2      Found  2013  0.00000   0.00000   (0.000000, 0.000000)      1
Northwest Africa 7822  57268  Valid     Achondrite-ung         45.8      Found  2013  0.00000   0.00000   (0.000000, 0.000000)      1
Northwest Africa 7855  57420  Valid     H4                     916.0     Found  2013  0.00000   0.00000   (0.000000, 0.000000)      1
Northwest Africa 7856  57421  Valid     LL6                    517.0     Found  2013  0.00000   0.00000   (0.000000, 0.000000)      1
Northwest Africa 7857  57422  Valid     LL6                    246.0     Found  2013  0.00000   0.00000   (0.000000, 0.000000)      1
Northwest Africa 7858  57423  Valid     H4                     459.0     Found  2013  0.00000   0.00000   (0.000000, 0.000000)      1
Northwest Africa 7861  57425  Valid     L5                     611.0     Found  2013  0.00000   0.00000   (0.000000, 0.000000)      1
Northwest Africa 7862  57426  Valid     L4/5                   317.0     Found  2013  0.00000   0.00000   (0.000000, 0.000000)      1
Northwest Africa 7863  57427  Valid     LL5                    1000.0    Found  2013  0.00000   0.00000   (0.000000, 0.000000)      1
dtype: int64

In [110]:
data5 = pd.read_csv('./meteorite2.csv')
data6 = data5.copy()
mask = data6['year'] > 2013
df_2016 = data6[mask]
df_2016

,name,id,type,recclass,mass,fall,year,lat,long
37,Appley Bridge,2318,Valid,LL6,15000.0,Fell,2014,53.583330,-2.71667
77,Baxter,4977,Valid,L6,611.0,Fell,2016,36.750000,-93.50000
114,Boguslavka,5098,Valid,"""Iron IIAB""",256000.0,Fell,2016,44.550000,131.63333
142,Calivo,5200,Valid,Stone-uncl,2400.0,Fell,2016,11.750000,122.33333
246,Ekh Khera,7777,Valid,H6,840.0,Fell,2016,28.266670,78.78333
438,Kisvars��ny,12325,Valid,L6,1550.0,Fell,2014,48.166670,22.30833
459,Kuttippuram,12384,Valid,L6,45000.0,Fell,2014,10.833330,76.03333
547,Meester-Cornelis,15470,Valid,H5,24750.0,Fell,2015,-6.233330,106.88333
638,Nyir��brany,17970,Valid,LL5,1100.0,Fell,2014,47.550000,22.02500
666,Palinshih,18077,Valid,Iron,18000.0,Fell,2014,43.483330,118.61667
735,Rampurhat,22385,Valid,LL,100.0,Fell,2016,24.166670,87.76667
745,Renqiu,22589,Valid,L6,355.0,Fell,2016,38.666670,116.13333
761,Ryechki,22791,Valid,L5,13000.0,Fell,2014,51.133330,34.50000
764,Saint-Sauveur,23101,Valid,EH5,14000.0,Fell,2014,43.733330,1.38333
809,Sinai,23606,Valid,L6,1455.0,Fell,2016,30.900000,32.48333
846,Sultanpur,23741,Valid,L/LL6,1710.5,Fell,2016,25.933330,84.28333
876,Tomita,24023,Valid,L,600.0,Fell,2016,34.500000,133.75000
886,Treysa,24050,Valid,"""Iron IIIAB-an""",63000.0,Fell,2016,50.916670,9.18333
923,Visuni,24189,Valid,H6,594.0,Fell,2015,25.450000,70.00000
1476,Albin (pallasite),455,Valid,"""Pallasite PMG""",37600.0,Found,2015,41.500000,-104.10000
3242,Angelica,2300,Valid,"""Iron IIIAB""",14800.0,Found,2016,44.250000,-88.25000
3243,Annaheim,2306,Valid,"""Iron IAB-sLL""",13500.0,Found,2016,52.333330,-104.86667
3274,Artracoona,2341,Valid,L6,20810.0,Found,2014,-29.066670,139.91667
5035,Cachari,5189,Valid,Eucrite-mmict,23500.0,Found,2016,-36.400000,-59.50000
5142,Carraweena,5281,Valid,L3.9,31600.0,Found,2014,-29.233330,139.93333
5144,Cartoonkana,5283,Valid,L6,294.0,Found,2014,-29.750000,141.03333
5211,Chico Mountains,5348,Valid,"""Iron IIAB""",212.0,Found,2015,29.000000,-103.25000
5357,Crathe�_s (1931),5466,Valid,"""Iron IVA""",27500.0,Found,2014,-5.250000,-40.50000
10483,Fillmore,10093,Valid,Iron,113.0,Found,2016,49.883333,-103.60000
11402,Gladstone (iron),10920,Valid,"""Iron IAB-MG""",736600.0,Found,2015,-23.900000,151.30000
14913,Ilinskaya Stanitza,12023,Valid,"""Iron IIIAB""",5621.0,Found,2015,51.233330,57.38333
15640,Karee Kloof,12259,Valid,"""Iron IAB-sLL""",92100.0,Found,2014,-31.600000,25.80000
15680,Kopjes Vlei,12345,Valid,"""Iron IIAB""",13600.0,Found,2014,-29.300000,21.15000
17983,Lost Creek,14712,Valid,H3.8,4018.0,Found,2016,39.124170,-98.16778
18059,Lushton,14760,Valid,L6,6700.0,Found,2014,40.749720,-97.74972
19605,Morasko,16741,Valid,"""Iron IAB-MG""",290000.0,Found,2014,52.466670,16.90000
19636,Mount Magnet,16780,Valid,"""Iron IAB-sHH""",16600.0,Found,2016,-28.166670,118.50000
19747,Naretha,16913,Valid,L4,5500.0,Found,2015,-31.000000,124.83333
20023,Okechobee,18001,Valid,L4,1000.0,Found,2016,26.683330,-80.80000
20112,Pampa de Agua Blanca,18090,Valid,L6,10.0,Found,2016,-24.166670,-69.83333
20843,Petropavlovka,18802,Valid,H4,1773.0,Found,2016,48.200000,43.73333
25026,Rosebud,22767,Valid,H5,54900.0,Found,2015,30.816670,-97.05000
25710,Shiraiwa,23537,Valid,H4,950.0,Found,2015,39.500000,140.20000
25907,South Byron,23676,Valid,"""Iron ungrouped""",6000.0,Found,2015,43.033330,-78.03333
25986,Suwa,23764,Valid,Iron,203.0,Found,2015,36.033330,138.08333
26391,Uvalde,24137,Valid,H5,8200.0,Found,2015,29.200000,-99.76667
26425,Waingaromia,24198,Valid,"""Iron IIIAB""",9200.0,Found,2015,-38.250000,178.08333
26503,Willow Creek,24276,Valid,"""Iron IIIE""",51000.0,Found,2014,43.466670,-106.76667
31675,Yandama,30347,Valid,L6,5800.0,Found,2014,-29.750000,141.03333
31697,Ysleta,30375,Valid,"""Iron ungrouped""",140700.0,Found,2014,31.650000,-106.18333

In [148]:
nasa2 = nasa.rename(columns = {'reclat':'lat', 'reclong':'long', 'nametype':'type'})
nasa2

,name,id,type,recclass,mass,fall,year,lat,long,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902,-33.16667,-64.95000,"(-33.166670, -64.950000)"
...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,1990,29.03700,17.01850,"(29.037000, 17.018500)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,1999,13.78333,8.96667,"(13.783330, 8.966670)"
45713,Zlin,30410,Valid,H4,3.3,Found,1939,49.25000,17.66667,"(49.250000, 17.666670)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,2003,49.78917,41.50460,"(49.789170, 41.504600)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,1976,33.98333,-115.68333,"(33.983330, -115.683330)"

In [149]:
data_tog = pd.concat([nasa2, df_2016], axis = 0)

In [153]:
data_tog.shape

(45766, 10)